
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


<div class="col-sm-6">

<form method = 'POST' action=''>{%csrf_token%}
	{{ form|crispy}}
<input type='submit' class='btn btn-success' value = 'Contine As Guest'/>
</form>
</div>
{% if not user_can_continue %}



		 <div class="col-sm-6"> 
			<form method='POST' action="{% url 'auth_login' %}"> {% csrf_token %}
			{{ login_form|  crispy }}

				<input type ='hidden' name='next' value = '{{ next_url}}' />
				<input type='submit' class='btn btn-success' value = 'Login'/>

			</form>
		 </div> 

{% endif %}


{% endblock %}
