{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Our Project</h1>
<h2>Project Members</h2>
<ul>
	<li>Daniel Karcz</li>
	<li>James Radecki</li>
	<li>Jason Fetzer</li>
</ul>
<p>This is a lightweight version of Best Buy formatted for requirements of CS-425, Illinois Tech. **WARNING** This is not the real Best Buy!!  THIS IS A STUDENT PROJECT.  WE DO NOT
SELL THESE ITEMS OR TAKE PAYMENTS!!**</p>
 <h2>Project Responsibilities</h2>
 <ul> 
 	<li>Daniel served as team lead, scraping web data from Best Buy, implementing ER Diagram, 
 	and cleaning data for our database.</li>
 	<li>James built the .sql files and tables for our implementation</li>
 	<li>Jason focused on the web application, and presentation layers from the data</li>
 	<li>All members were involved in all stages of our project</li>
 </ul>
</div>

</div>




{% endblock %}