{% extends "base.html" %}



{% block content %}


<h1>Database Products <small><a href='{% url "categories" %}'>Product Categories</a></small></h1>

<table class='table'>

    <thead>
        <tr>
            <th>Product</th>
           <!-- <th>UPC</th>
            <th>Price</th>
            <th>Description</th>-->
        </tr>
    </thead>
{%for object in object_list %}
<tbody>
<tr>
	<td><a href='{{object.get_absolute_url}}'>{{object.title}}</a></td>
	<!--<td><a>{{object.upc}}</a></td>
	<td><a >{{object.price}}</a></td>
	<td><a >{{object.description}}</a></td>-->

</tr>
</tbody>




{%endfor%}

</table>


{% endblock %}

