
 {% extends "base.html" %}

   <script>     

        {% block jquery %}

    function setPrice(){
	var price = $(".variation_select option:selected").attr("data-price")
	var sale_price = $(".variation_select option:selected").attr("data-sale-price")
	if (sale_price != "" && sale_price != "None" && sale_price != null ) {
	$("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price  + "</small></h3>");
	} else {
	$("#price").html(price);
	}
}
setPrice()
$(".variation_select").change(function(){
	setPrice()
	// var img = $(".variation_select option:selected").attr("data-img")
	// $("img").attr("src", img);
})

        {% endblock %}
 
   </script> 



{% block content %}
<div class="row">

	<div class="col-sm-8">

<h2>{{object.title}}</h2>
<p class ="lead">

	{{object.description}}
	</p>
	
</div> 


<!--Product Sidebar-->
<div class="col-sm-4">



<p id='jquery-message' class='lead'>

</p>

	<form method = 'GET' action = "{% url 'cart' %}">
{% if object.variation_set.count > 1 %}
	<h3 id='price'>{{ object.variation_set.first.price }}</h3>


	<select name='item' class='form-control variation_select'>
		{% for vari_obj in object.variation_set.all %}
		
		<option   data-sale-price="{{ vari_obj.sale_price }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option>
		{% endfor %}
		</select>

	{% else %}
		<input type="hidden" name='item' value='{{ object.variation_set.first.id }}' />
			<h3 id='price'>{% if object.variation_set.first.sale_price %}
			{{ object.variation_set.first.sale_price  }}
			<small class='og-price'>{{ object.variation_set.first.price }}</small>
			{% else %}
			<!-- <input type = "hidden" name ='item' value='object.variation_set.first.id'/> -->
			{{ object.variation_set.first.price }}
			{% endif %}


		</h3>


	{% endif %}
<input class='form-control' type ='number' name = 'qty' value='1'/>

<br/>

<input type='submit' value = 'Add to Cart' class = 'btn btn-default' />

<br/>
<hr/>
</form>

<h4>Related Products</h4>


<!-- 
{% for product in related %}

<a href='{{product.get_abolute_url }}'> {{ product.title}}</a><br/>



{% endfor %} -->

	<div class='row'>
	{% for product in related %}

		<div class='col-xs-6'>
			{% include "products/product_thumbnail.html" with product=product price="True" %}
		</div>
		{% cycle '' '</div><div class="row">' %}
	{% endfor %}

		</div>


<p>
Share<br/>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i class="fa fa-facebook-square fa-3x"></i></a>

<a href="#">
<i class="fa fa-twitter-square fa-3x"></i></a>
</p>


</div>



</div>


 {% endblock %} 